<AuthorizeView>
    <Authorized>

        <ul>


            <li><a class="nav-link scrollto" href="Identity/Account/Manage"> @context.User.Identity.Name!</a></li>

        </ul>
        
    </Authorized>
    <NotAuthorized>
        <ul>


            <li><a class="nav-link scrollto btn-get-started" href="Identity/Account/Login">Get Started</a></li>

        </ul>
    </NotAuthorized>
</AuthorizeView>
