
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            
            <h1>Ver<span>don.</span></h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>

                
                <li><NavLink class="nav-link scrollto" href="/quiz/login">Quiz</NavLink></li>
                <li><NavLink class="nav-link scrollto" href="/lecture">Lecture</NavLink></li>
                <li><NavLink class="nav-link scrollto" href="/libary">Libary</NavLink></li>
                <li><NavLink class="nav-link scrollto" href="/socical">Socical</NavLink></li>
               
            </ul>
            <LoginDisplay/>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
