<AuthorizeView>
    <Authorized>

        <ul>


            <li><a class="nav-link scrollto" href="/profile"> @context.User.Identity.Name!</a></li>

        </ul>
        
    </Authorized>
    <NotAuthorized>
        <ul>


            <li><a class="btn btn-info" href="Identity/Account/Login">Get Started</a></li>

        </ul>
    </NotAuthorized>
</AuthorizeView>
